body
{
	background:black;
	color:white;
}

.naglowek
{
	text-align:center;
}

#parametry
{
	border-collapse: collapse;
	width:50%;
	margin: 0 auto;
}

#parametry td
{
	border-bottom: 1px white solid;
}

#parametry td:nth-of-type(1)
{
	width:42%;
	padding-right:12%;
}

#parametry td:nth-of-type(2)
{
	width:58%;
}

#gora
{
	display:table;
	height:15%;
	width:100%;
}

#gora h1
{
	display: table-cell;
    vertical-align: middle;
	text-align: center;
}

#odnosniki
{
	background: #333333;
	height:10%;
	padding-left:20%;
	padding-right:20%;
}

#odnosniki div
{
	display:table;
	width:33%;
	height:100%;
	float:left;
}

#odnosniki div a
{
	display: table-cell;
	color: white;
	vertical-align: middle;
	text-align: center;
	text-decoration: none;
}

#odnosniki div a:hover:not(.active)
{
	background: #4CAF50;
}

#cialo
{
	height:75%;
}

#dane_kontaktowe,
#formularz,
#jak_zamowic
{
	width:50%;
}

#dane_kontaktowe,
#jak_zamowic
{
	float:right;
}

#formularz
{
	float:left;
}
