body
{
	background:black;
	color:white;
}

.naglowek
{
	text-align:center;
}

#parametry
{
	border-collapse: collapse;
	width:50%;
	margin: 0 auto;
}

#parametry td
{
	border-bottom: 1px white solid;
}

#parametry td:nth-of-type(1)
{
	width:42%;
	padding-right:12%;
}

#parametry td:nth-of-type(2)
{
	width:58%;
}

#dane_kontaktowe,
#formularz
{
	width:50%;
}

#dane_kontaktowe
{
	float:right;
}

#formularz
{
	float:left;
}
